<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.arch.ums.user.mapper.EducationMapper">

    <resultMap type="org.arch.ums.user.entity.Education" id="EducationMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="certificateNo" column="certificate_no" jdbcType="VARCHAR"/>
        <result property="certificateName" column="certificate_name" jdbcType="VARCHAR"/>
        <result property="certificateOrg" column="certificate_org" jdbcType="VARCHAR"/>
        <result property="certificateLevel" column="certificate_level" jdbcType="VARCHAR"/>
        <result property="sorted" column="sorted" jdbcType="INTEGER"/>
        <result property="awardtime" column="awardtime" jdbcType="DATE"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="appId" column="app_id" jdbcType="INTEGER"/>
        <result property="storeId" column="store_id" jdbcType="INTEGER"/>
        <result property="rev" column="rev" jdbcType="INTEGER"/>
        <result property="st" column="st" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="tableName">
        `id`
    </sql>

    <sql id="baseColumn">
        `id`, `user_id`, `certificate_no`, `certificate_name`, `certificate_org`, `certificate_level`, `sorted`, `awardtime`, `tenant_id`, `app_id`, `store_id`, `rev`, `st`, `deleted`
    </sql>

</mapper>