<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.arch.ums.user.mapper.IdCardMapper">

    <resultMap type="org.arch.ums.user.entity.IdCard" id="IdCardMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="idCard" column="id_card" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="birthday" column="birthday" jdbcType="DATE"/>
        <result property="nation" column="nation" jdbcType="VARCHAR"/>
        <result property="domicile" column="domicile" jdbcType="VARCHAR"/>
        <result property="signOrg" column="sign_org" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="appId" column="app_id" jdbcType="INTEGER"/>
        <result property="storeId" column="store_id" jdbcType="INTEGER"/>
        <result property="rev" column="rev" jdbcType="INTEGER"/>
        <result property="st" column="st" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="tableName">
        `user_id_card`
    </sql>

    <sql id="baseColumn">
        `id`, `user_id`, `id_card`, `name`, `age`, `sex`, `birthday`, `nation`, `domicile`, `sign_org`, `tenant_id`, `app_id`, `store_id`, `rev`, `st`, `deleted`
    </sql>

</mapper>
