<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.arch.ums.mapper.UserJobMapper">
    <sql id="tableName">
        user_job
    </sql>

    <sql id="baseColumn">
        id,user_id,group_channel,group_name,post_name,post_level,sorted,hiredate_time,dimission_time,st
    </sql>

</mapper>