<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.arch.framework.automate.from.mapper.FormMapper">

    <!--ALTER TABLE ${tableName} ADD ${fieldName} VARCHAR(100) ;-->
    <sql id="db">
        arch.
    </sql>

    <sql id="dbtb">
        arch.upload_form
    </sql>

    <select id="alertForm" parameterType="Form" >
        ALTER TABLE <include refid="dbtb"/>.${formName} ADD ${formTableName} VARCHAR(100) DEFAULT NULL COMMENT #{formDesc};
    </select>
    <!--DEFAULT NULL COMMENT #{fieldDesc};-->

    <insert id="insert" parameterType="Form" useGeneratedKeys="true" keyProperty="formId" keyColumn="form_id">
        insert into <include refid="dbtb"/>
        (form_id, form_name, form_desc, create_time)
        values
        ( 0, #{formName}, #{formDesc}, now())
    </insert>

    <select id="queryAll" resultType="Form">
        select * from <include refid="dbtb"/>  order by create_time desc
    </select>

    <select id="queryOne" resultType="Form">
        select * from <include refid="dbtb"/>  where form_id = #{formId}
    </select>

    <delete id="deleteById">
        delete from <include refid="dbtb"/>  where form_id = #{formId}
    </delete>

    <update id="update" parameterType="Form">
        update <include refid="dbtb"/>  a set a.form_name = #{formName}, a.form_desc = #{formDesc} where a.form_id = #{formId}
    </update>

    <update id="updateFormTableName" parameterType="Form">
        update <include refid="dbtb"/>  a
        set a.form_table_name = #{formTableName}
        where a.form_id = #{formId}
    </update>

    <select id="queryFormAndRows" resultType="FormAndRows">
        select * from <include refid="dbtb"/>
        <where>
            <if test="searchValue != '' and searchValue != null ">
                form_name like '%' || #{searchValue} || '%'
                or
                form_desc like '%' || #{searchValue} || '%'
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="countByFormName" resultType="Integer">
        select count(1) from <include refid="dbtb"/>  where form_name = #{formName}
    </select>
</mapper>
