<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonghui.ofs.alarm.center.mapper.AlarmCatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.arch.alarm.mvc.entity.AlarmCatEntity">
        <id column="id" property="id"/>
        <result column="is_categ" property="isCateg"/>
        <result column="pid" property="pid"/>
        <result column="alarm_typ" property="alarmTyp"/>
        <result column="alarm_val" property="alarmVal"/>
        <result column="alarm_level" property="alarmLevel"/>
        <result column="alarm_name" property="alarmName"/>
        <result column="descr" property="descr"/>
        <result column="ctime" property="ctime"/>
        <result column="tenant_id" property="tenantId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, is_categ, pid, alarm_typ, alarm_val, alarm_level, alarm_name, descr, ctime, tenant_id
    </sql>

</mapper>
