<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.arch.ums.account.mapper.AccountRelationshipMapper">
    <sql id="tableName">
        account_relationship
    </sql>

    <sql id="baseColumn">
        id,pid,org,deep,seq,from_user_id,from_user_name,from_user_phone,to_user_id,to_user_name,to_user_phone
    </sql>

</mapper>