<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.arch.ums.account.mapper.AccountTicketMapper">
    <sql id="tableName">
        account_ticket
    </sql>

    <sql id="baseColumn">
        id,account_id,ticket_typ,ticket_no,ticket_val
    </sql>

</mapper>