<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.arch.ums.account.mapper.IdentifierMapper">

    <resultMap type="org.arch.ums.account.entity.Identifier" id="IdentifierMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="aid" column="aid" jdbcType="INTEGER"/>
        <result property="identifier" column="identifier" jdbcType="VARCHAR"/>
        <result property="credential" column="credential" jdbcType="VARCHAR"/>
        <result property="authorities" column="authorities" jdbcType="VARCHAR"/>
        <result property="loginType" column="login_type" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="appId" column="app_id" jdbcType="INTEGER"/>
        <result property="storeId" column="store_id" jdbcType="INTEGER"/>
        <result property="rev" column="rev" jdbcType="INTEGER"/>
        <result property="dt" column="dt" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="tableName">
        `account_identifier`
    </sql>

    <sql id="baseColumn">
        `id`, `aid`, `identifier`, `credential`, `authorities`, `login_type`, `tenant_id`, `app_id`, `store_id`, `rev`, `dt`, `deleted`
    </sql>

    <select id="exists" resultType="java.lang.Boolean">
        <foreach collection="identifiers" item="identifier" open=" " close=" " separator="UNION ALL">
            SELECT count(`identifier`) FROM `account_identifier`
            WHERE `tenant_id` = #{tenantId} AND `identifier` = #{identifier} AND `deleted` = 0
        </foreach>
    </select>

</mapper>