<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.arch.ums.mapper.UserBankCardMapper">
    <sql id="tableName">
        user_band_card
    </sql>

    <sql id="baseColumn">
        id,user_id,card_no,card_bin,card_code,cvv,cardTyp,sorted,validity,st
    </sql>

</mapper>