<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code.mapper.AccountMenuMapper">
    <sql id="tableName">
        account_menu
    </sql>

    <sql id="baseColumn">
        id,pid,menu_code,menu_name,menu_val,level,sorted,frame,icon
    </sql>

</mapper>