<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code.mapper.AccountGroupMapper">
    <sql id="tableName">
        account_group
    </sql>

    <sql id="baseColumn">
        id,group_pid,group_code,group_name,group_icon,sorted
    </sql>

</mapper>