<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code.mapper.AccountResourceMapper">
    <sql id="tableName">
        account_resource
    </sql>

    <sql id="baseColumn">
        id,category_id,resource_name,resource_code,resource_typ,resource_val,resource_path,resource_icon,resource_desc,visible,level,sorted,st
    </sql>

</mapper>