<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code.mapper.FormFieldOptionMapper">
    <sql id="tableName">
        form_field_option
    </sql>

    <sql id="baseColumn">
        id,field_id,option_id,option_name,option_val,st
    </sql>

</mapper>