<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code.mapper.FormInstanceMapper">
    <sql id="tableName">
        form_instance
    </sql>

    <sql id="baseColumn">
        id,form_id,form_name,form_code,form_table_id,form_table_name,form_descr,st
    </sql>

</mapper>