<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code.mapper.FormDefinitionMapper">
    <sql id="tableName">
        form_definition
    </sql>

    <sql id="baseColumn">
        id,category,form_name,form_code,table_name,field_id,layout_id,version,descr,st
    </sql>

</mapper>