<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code.mapper.MarketMasterMapper">
    <sql id="tableName">
        market_master
    </sql>

    <sql id="baseColumn">
        id,market_name_id,market_name,market_table,tenant_id,store_id,app_id,account_id,descr,h5,start_time,end_time,st
    </sql>

</mapper>