<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code.mapper.MarketNameMapper">
    <sql id="tableName">
        market_name
    </sql>

    <sql id="baseColumn">
        id,pid,market_typ,market_name,market_code,icon,tier,sorted,descr,st
    </sql>

</mapper>