<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.arch.framework.automate.from.mapper.FormFieldOptionMapper">

    <resultMap type="org.arch.framework.automate.from.entity.FormFieldOption" id="FormFieldOptionMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="fieldId" column="field_id" jdbcType="INTEGER"/>
        <result property="optionName" column="option_name" jdbcType="VARCHAR"/>
        <result property="optionCode" column="option_code" jdbcType="VARCHAR"/>
        <result property="optionVal" column="option_val" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
        <result property="dt" column="dt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="tableName">
        `id`
    </sql>

    <sql id="baseColumn">
        `id`, `field_id`, `option_name`, `option_code`, `option_val`, `deleted`, `dt`
    </sql>

</mapper>
