<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.arch.framework.automate.from.mapper.FormFieldMapper">

    <resultMap type="org.arch.framework.automate.from.entity.FormField" id="FormFieldMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="formId" column="form_id" jdbcType="INTEGER"/>
        <result property="fieldCode" column="field_code" jdbcType="VARCHAR"/>
        <result property="fieldTyp" column="field_typ" jdbcType="VARCHAR"/>
        <result property="fieldName" column="field_name" jdbcType="VARCHAR"/>
        <result property="descr" column="descr" jdbcType="VARCHAR"/>
        <result property="sorted" column="sorted" jdbcType="INTEGER"/>
        <result property="dt" column="dt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="tableName">
        `id`
    </sql>

    <sql id="baseColumn">
        `id`, `form_id`, `field_code`, `field_typ`, `field_name`, `descr`, `sorted`, `dt`
    </sql>

</mapper>
