<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.arch.framework.automate.from.mapper.FormTableMapper">

    <resultMap type="org.arch.framework.automate.from.entity.FormTable" id="FormTableMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="bizId" column="biz_id" jdbcType="INTEGER"/>
        <result property="tableInstanceId" column="table_instance_id" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
        <result property="dt" column="dt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="tableName">
        `id`
    </sql>

    <sql id="baseColumn">
        `id`, `project_id`, `biz_id`, `table_instance_id`, `deleted`, `dt`
    </sql>

</mapper>
