<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.arch.framework.automate.from.mapper.FormInterfaceMapper">

    <resultMap type="org.arch.framework.automate.from.entity.FormInterface" id="FormInterfaceMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="formCategory" column="form_category" jdbcType="VARCHAR"/>
        <result property="interfaceName" column="interface_name" jdbcType="VARCHAR"/>
        <result property="interfaceCode" column="interface_code" jdbcType="VARCHAR"/>
        <result property="interfaceUri" column="interface_uri" jdbcType="VARCHAR"/>
        <result property="paramJson" column="param_json" jdbcType="VARCHAR"/>
        <result property="descr" column="descr" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
        <result property="dt" column="dt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="tableName">
        `id`
    </sql>

    <sql id="baseColumn">
        `id`, `form_category`, `interface_name`, `interface_code`, `interface_uri`, `param_json`, `descr`, `deleted`, `dt`
    </sql>

</mapper>
