<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.arch.framework.automate.from.mapper.FormLayoutMapper">

    <resultMap type="org.arch.framework.automate.from.entity.FormLayout" id="FormLayoutMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="tableId" column="table_id" jdbcType="INTEGER"/>
        <result property="layoutName" column="layout_name" jdbcType="VARCHAR"/>
        <result property="layoutCode" column="layout_code" jdbcType="VARCHAR"/>
        <result property="layoutStyle" column="layout_style" jdbcType="VARCHAR"/>
        <result property="descr" column="descr" jdbcType="VARCHAR"/>
        <result property="ver" column="ver" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
        <result property="dt" column="dt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="tableName">
        `id`
    </sql>

    <sql id="baseColumn">
        `id`, `table_id`, `layout_name`, `layout_code`, `layout_style`, `descr`, `ver`, `deleted`, `dt`
    </sql>

</mapper>
