<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.arch.framework.automate.from.mapper.FormSchemaMapper">

    <resultMap type="org.arch.framework.automate.from.entity.FormSchema" id="FormSchemaMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="schemaName" column="schema_name" jdbcType="VARCHAR"/>
        <result property="schemaCode" column="schema_code" jdbcType="VARCHAR"/>
        <result property="descr" column="descr" jdbcType="VARCHAR"/>
        <result property="st" column="st" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="tableName">
        `id`
    </sql>

    <sql id="baseColumn">
        `id`, `schema_name`, `schema_code`, `descr`, `st`
    </sql>

</mapper>
