<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.arch.payment.core.mapper.PayMerchantChannelMapper">
    <sql id="tableName">
        pay_merchant_channel
    </sql>

    <sql id="baseColumn">
        id,channel_id,merchant_id,merchant_no,private_key,public_key,secret_key,st
    </sql>

</mapper>
