<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.arch.payment.core.mapper.PayStatusCodeMapper">
    <sql id="tableName">
        pay_status_code
    </sql>

    <sql id="baseColumn">
        id,channel_id,channel_code,channel_state_code,channel_state_descr,state_code,state_descr,st
    </sql>

</mapper>
