<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.auth.ums.mapper.AccountIdentifierMapper">

    <resultMap type="test.auth.ums.entity.AccountIdentifier" id="AccountIdentifierMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="aid" column="aid" jdbcType="INTEGER"/>
        <result property="identifier" column="identifier" jdbcType="VARCHAR"/>
        <result property="credential" column="credential" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
        <result property="authorities" column="authorities" jdbcType="VARCHAR"/>
        <result property="channelType" column="channel_type" jdbcType="OTHER"/>
        <result property="appId" column="app_id" jdbcType="INTEGER"/>
        <result property="storeId" column="store_id" jdbcType="INTEGER"/>
        <result property="rev" column="rev" jdbcType="INTEGER"/>
        <result property="st" column="st" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="tableName">
        `id`
    </sql>

    <sql id="baseColumn">
        `id`, `aid`, `identifier`, `credential`, `tenant_id`, `authorities`, `channel_type`, `app_id`, `store_id`, `rev`, `st`, `deleted`
    </sql>

</mapper>