<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonghui.arch.demo.mapper.RbacResourceMapper">
    <sql id="tableName">
        rbac_resource
    </sql>

    <sql id="baseColumn">
        id,category_id,resource_name,resource_code,resource_typ,resource_val,resource_path,resource_icon,resource_descr,visible,level,app_id,tenant_id,is_active,created_by,created_date
    </sql>

</mapper>