<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonghui.arch.demo.mapper.RbacRoleGroupMapper">
    <sql id="tableName">
        rbac_role_group
    </sql>

    <sql id="baseColumn">
        id,role_id,group_id,app_id,tenant_id,is_active,created_by,created_date
    </sql>

</mapper>