<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonghui.arch.demo.mapper.UserOrgMapper">
    <sql id="tableName">
        user_org
    </sql>

    <sql id="baseColumn">
        id,uid,group_id,post_id,group_name,post_name,app_id,tenant_id,is_active,created_by,created_date
    </sql>

</mapper>