<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.arch.pms.sku.mapper.ProductAttrValMapper">
    <sql id="tableName">
        product_attr_val
    </sql>

    <sql id="baseColumn">
        id,spu_id,attr_name_id,attr_val,st
    </sql>

</mapper>
