<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.arch.pms.sku.mapper.ProductPriceMapper">
    <sql id="tableName">
        product_price
    </sql>

    <sql id="baseColumn">
        id,spu_id,count,discount,price,st
    </sql>

</mapper>
