<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.arch.pms.sku.mapper.ProductMarketingMapper">
    <sql id="tableName">
        product_marketing
    </sql>

    <sql id="baseColumn">
        id,spu_id,marketing_id,market_name,st
    </sql>

</mapper>
