<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.arch.pms.sku.mapper.ProductAttrGroupMapper">
    <sql id="tableName">
        product_attr_group
    </sql>

    <sql id="baseColumn">
        id,category_id,group_name,sorted,st
    </sql>

</mapper>
