<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.arch.pms.sku.mapper.ProductStoreMapper">
    <sql id="tableName">
        product_store
    </sql>

    <sql id="baseColumn">
        id,store_id,store_name,avatar,account_id,user_id,biz_scope,approve,grade,deleted,st
    </sql>

</mapper>
